<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
</head>
<body>
    
    <p>
        <a href="https://github.com/N00rAhmed" target="_blank">GitHub</a>
        <a href="https://noor-ahmed.hashnode.dev" target="_blank">Blog</a>
        <a href="https://p0rtf0li0-noor.netlify.app" target="_blank">Portfolio</a>
    </p>

    <p>
        &copy; <span id="currentYear"></span> All rights reserved
        <br/> Built and designed by 
        <a href="https://www.linkedin.com/in/noor-ahmed-b762b0225/" 
        target="_blank">Noor Ahmed</a>

    </p>
    <script src="../static/year.js"></script>
</body>
</html>