<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>

    {% include 'nav.html' %}

    <h2>Introduction</h2>
    <p>Hello this is a Flask Application I made for my own learning and also for you to enjoy :)</p>
    <p>The languages/technologies used are <strong>Python</strong>, <strong>Flask</strong>, <strong>JavaScript</strong>, <strong>HTML/CSS</strong>, <strong>Docker</strong></p>
    {% include 'footer.html' %}

</body>
</html>
