<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>

    {% include 'nav.html' %}

    <h2>Introduction</h2>

    <p>Hello this is a Flask Application I made for my own learning and also for you to enjoy :)</p>

    <p>The languages/technologies used are 
        <strong>Flask</strong>, 
        <strong>Python</strong>, 
        <strong>JavaScript</strong>, 
        <strong>HTML/CSS</strong>, 
        <strong>Docker</strong>
        <br />
        This application also uses the unittest library for unit-testing which can be found in the tests directory.
    </p>
    
    <p>
        Here is the github repository for this project: 
        <a target="_blank" 
        href="https://github.com/N00rAhmed/Word-Combination-Generator">
        Word-Combination-Generator
        </a>
    </p>

    {% include 'footer.html' %}

</body>
</html>
