<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Maker</title>
</head>

<body>

    {% include 'nav.html' %}

    <h3>Enter any letters and you will get all the combinations of words that can be made with those letters.</h3>

    <form method="POST" action="{{ url_for('wordMaker') }}">
        <textarea rows="5" cols="45" type="text" name="letterinput" id="letterinput"></textarea>
        <br />

        <button type="submit" name="anything_submit" value="Submit" onclick="loading();">Generate</button>

        <button type="clear">Clear</button>
        
    </form>

    <div id="loading">Loading ...</div>

    <div id="word-count">Word Count: {{wordCount}}</div>

    {% for i in wordsMatch %}
        {{i}} <br/>
    {% endfor %}
    
    <br />
    <br />
    
    {% include 'footer.html' %}

    <script src="../static/utils/loading.js"></script>
    
    <style>
        div#loading {
            width: 35px;
            height: 35px;
            display: none;
            background: url(/static/loadingimage.gif) no-repeat;
            cursor: wait;
        }
    </style>

</body>

</html>