<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Maker</title>
</head>
<body>

    {% include 'nav.html' %}


    <h3>Enter any letters and you will get all the combinations of words with those letters</h3>

    <form method="POST" action="{{ url_for('wordMaker') }}">
    
        <textarea rows="5" cols="45" type="text" name="letterinput" id="letterinput"></textarea>
        <br />
        <button type="submit">Generate</button>
        <button type="clear">Clear</button>
        
    </form>
    
    <!-- <strong>{{ i }}</strong> -->
    {% for i in wordsMatch %}
        {{i}} <br/>
    {% endfor %}
    
    <br />
    <br />

    


</body>
</html>